<% @page_title = 'Home' %>

	<h2 class="text">All Accounts</h2>
	<br>

	<div class='user_index panel panel-default'>

			<table class="table">
				<tr>
					<th>&nbsp;</th>
					<th>Username</th>
					<th>Email</th>
					<th># of Posts</th>
					<th># of Comments</th>
					<th># of Links</th>
					<th>Actions</th>
				</tr>

				<% @users.each do |user| %>
					<tr>
						<td><%= user.position%></td>
						<td><%= user.username%></td>
						<td><%= user.email %></td>
						<td><%= user.posts.size %></td>
						<td><%= user.comments.size %></td>
						<td><%= user.links.size %></td>
						<td>
							<%= link_to('Show', {:action=>'show', :id=>user.id}, :class=>'action show') %>
							<%= link_to('Edit', {:action=>'edit', :id=>user.id}, :class=>'action edit') %>
							<%= link_to('Delete', {:action=>'delete', :id=>user.id}, :class=>'action delete') %>
						</td>
					</tr>
				<% end %>

			</table>

	</div>
	<%= button_to("Create New User", {:action=>'new'}, :class=>'btn btn-success') %>
