				<table class="table">
					<h3>What's on your mind?</h3>
					<tr>
						<th><h4><%= f.label(:image) %></h4></th>
						<td><%= f.file_field(:image) %></td>
					</tr>
					<tr>
						<th><h4><%= f.label(:title) %></h4></th>
						<td><%= f.text_field(:title) %></td>
					</tr>
					<tr>
						<th><h4><%= f.label(:content) %></h4></th>
						<td><%= f.text_area(:content, :size=>"50x5") %></td>
					</tr>
					<tr>
						<th><h4>Subraddits</h4></th>

						<td><%= f.select(:subraddit_ids, @subraddits.map {|s| [s.title, s.id]}) %></td>
					</tr>
				</table>