<% @page_title ="Edit Post" %>

<div class="container-fluid">
	<br>
	<%= render(:partial=>'application/navigation') %>

	<div class="container">

		<%= form_for(:post, :url=>{:action=>'update', :id=>@post.id}) do |f| %>
			<%= render(:partial=>'form', :locals=>{:f=>f}) %>

			<%= submit_tag("Update Post", :class=>'btn btn-info') %>
		<% end %>
		<br>
		<%= form_for(:post, :url=>{:action=>'remove_image', :id=>@post.id}) do |f| %>
			<%= button_to('Remove Image', {:action=>'remove_image'}, :class=>'btn btn-primary') %>
		<% end %>
	</div>

</div>